
main{
  width: 100% ;
  display: flex;
  /* max-width: 1170px; */
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.contentBox{
  background-color:#fff;
  width: 350px;
  border-radius: 10px;
  padding: 1.5rem 2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);

}

.btn-clear, .btn-all{
  width: 100%;
  margin-bottom: 10px;
  padding: 7px;
  color: #fff;
  border-radius: 3px;
  border-color: transparent;
  background-color: #f28ab2;
  transition: background-color 2s ease;
}

.btn-clear:hover, .btn-all:hover{
  background-color: blueviolet;
  cursor: pointer;
  

}